In [28]:
import pandas as pd
import seaborn as sns
import numpy as np

### Q1

In [3]:
colors = sns.color_palette()[:3]
print(colors)

[(0.12156862745098039, 0.4666666666666667, 0.7058823529411765), (1.0, 0.4980392156862745, 0.054901960784313725), (0.17254901960784313, 0.6274509803921569, 0.17254901960784313)]

list of three color tuples in RGB format

### Q2

### Q3

In [5]:
car_types = ['Sedan', 'SUV', 'Sports Car']
car_series = pd.Series(car_types)
print(car_series)

0         Sedan
1           SUV
2    Sports Car
dtype: object

### Q4

In [17]:
car_types = pd.Series(['Sedan', 'SUV', 'Sports Car'])
colors = pd.Series(['Red', 'Blue', 'Green'])

data = pd.DataFrame({
    'Car_Type': car_types, 
    'Color': colors}
)

print(data)

     Car_Type  Color
0       Sedan    Red
1         SUV   Blue
2  Sports Car  Green

### Q5

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car_Type  3 non-null      object
 1   Color     3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

### Q6

In [10]:
data.describe()

       Car Type Color
count         3     3
unique        3     3
top       Sedan   Red
freq          1     1

### Q7

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car Type  3 non-null      object
 1   Color     3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

### Q8

In [24]:
numbers = pd.Series([10, 20, 30, 40, 50])

mean_value = numbers.mean()
print("Mean value:", mean_value)

Mean value: 30.0

### Q9

In [25]:
numbers.sum()

150

### Q10

In [26]:
data.columns

Index(['Car_Type', 'Color'], dtype='object')

### Q11

In [27]:
data.shape[0]

3

### Q12

In [36]:
car_types = np.random.choice(['Sedan', 'SUV', 'Coupe', 'Hatchback', 'Minivan'], size=10)
colors = np.random.choice(['Red', 'Blue', 'Green', 'White', 'Black'], size=10)

car_data = pd.DataFrame({'Car Type': car_types, 'Color': colors})

print(data)

  Car Type  Color
0      SUV    Red
1    Sedan  Black
2      SUV   Blue
3    Sedan    Red
4    Coupe  Black
5  Minivan  Black
6    Sedan  White
7  Minivan  Green
8    Coupe   Blue
9    Sedan    Red

In [37]:
car_data.head()

    Car Type  Color
0      Sedan   Blue
1        SUV   Blue
2    Minivan    Red
3  Hatchback  Black
4      Sedan  Black

### Q13

In [38]:
car_data.head(7)

    Car Type  Color
0      Sedan   Blue
1        SUV   Blue
2    Minivan    Red
3  Hatchback  Black
4      Sedan  Black
5    Minivan  Black
6        SUV    Red

### Q14

In [39]:
car_data.tail()

  Car Type  Color
5  Minivan  Black
6      SUV    Red
7    Coupe  White
8      SUV  Green
9      SUV  Black

### Q15

In [41]:
car_data.loc[3]

Car Type    Hatchback
Color           Black
Name: 3, dtype: object

### Q16

In [42]:
car_data.iloc[3]

Car Type    Hatchback
Color           Black
Name: 3, dtype: object